<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Secrets</title>
</head>

<body>
  <div id="button-container">
    <button type="submit" id="noAuth" onclick="window.location.href='/noAuth'">Random</button>
    <button type="submit" id="bearerToken" onclick="window.location.href='/bearerToken'">Specific</button>
    <button type="submit" id="basicAuth" onclick="window.location.href='/basicAuth'">Page</button>
    <button type="submit" id="apiKey" onclick="window.location.href='/apiKey'">Filter</button>
  </div>

  <div class="response-area">
    <% if (locals.content) { %>
      <% content = content.data; %>
      <% if (typeof content.length !== 'number') { %>
        <div class="content">
          <h1><%= content.username %></h1>
          <div class="stats">
            <p><%= content.timestamp %></p>
            <p><%= content.emScore %></p>
          </div>
          <p><%= content.secret %></p>
        </div>
      <% } else { %>
        <div class="response-grid">
          <div>
            <% for (let i = 3 * (counter - 1); i < content.length; i++) { %>
              <% if (i < 3 * counter) { %>
                  <h1><%= content[i].username %></h1>
                  <div class="stats">
                    <p><%= content[i].timestamp %></p>
                    <p><%= content[i].emScore %></p>
                  </div>
                  <p><%= content[i].secret %></p>
              <% } %>
            <% } %>
          </div>
          <div id="page-controls">
            <% if (counter > 1) { %>
              <button type="submit" class="change-page" onclick="window.location.href='/prevPage'">Prev</button>
            <% } else { %>
              <button type="submit" class="change-page" disabled>Prev</button>
            <% } %>
            <p><%= counter %></p>
            <% if (content.length - (3 * counter) > 0) { %>
              <button type="submit" class="change-page" onclick="window.location.href='/nextPage'">Next</button>
            <% } else { %>
              <button type="submit" class="change-page" disabled>Next</button>
            <% } %>
          </div>
        </div>
      <% } %>
    <% } else { %>
      <div>
        <h1>Select a button above to reveal secrets.</h1>
      </div>
    <% } %>
  </div>
</body>

</html>